<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'error')}">

<body>
<div class="row">
    <div class="col-md-6">
        <img class="img-responsive" src="../static/resources/images/BadRequest.png" th:src="@{resources/images/BadRequest.png}">
    </div>
    <div class="col-md-6">
        <div>
            <h1 class="error-title">Error encountered...</h1>
            <h2 th:text="${message}" class="error-content">Exception message</h2>
            <hr>
            <div style="text-align: center">
                <a href="#" th:href="@{'/'}" class="btn btn-primary btn-lg"><i class="fas fa-home"></i> Go to Home</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>