<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'error')}">

<body>
<div class="row">
    <div class="col-md-6">
        <img class="img-responsive" src="../static/resources/images/BadRequest.png" th:src="@{resources/images/BadRequest.png}">
    </div>
    <div class="col-md-6">
        <div>
            <h1>Something happened...</h1>
            <h2 th:text="${message}">Exception message</h2>
        </div>
    </div>
</div>
<!--<img src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>-->
<!--<h2>Something happened...</h2>-->
<!--<p th:text="${message}">Exception message</p>-->
</body>

</html>