<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic Index</title>
</head>
<body>
   <div class="row">
       <div class="col-md-6">
           <img class="img-responsive" src="../static/resources/images/HtTyDBg_New.jpg" th:src="@{resources/images/HtTyDBg_New.jpg}">
       </div>
       <div class="col-md-6">
           <div class="home-title">
               <p th:text="#{welcome}">Welcome</p>
               <p>to </p>
               <p>Toothless</p>
               <p>Pet Clinic</p>
           </div>
       </div>
   </div>
</body>
</html>