<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
    <h2 th:text="'List of Veterinarians'">Vets List</h2>

    <table class="table table-hover">
        <thead>
        <tr>
<!--            <th>ID</th>-->
            <th>Name</th>
            <th>Specialties</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
<!--            <td th:text="${vet.id}">1</td>-->
            <td th:text="${vet.firstName + ' ' + vet.lastName}">John Doe</td>
            <td><span th:each="specialty : ${vet.specialties}" th:text="${specialty.description + ' '}"></span>
                <span th:if="${vet?.specialties?.size() == 0}">None</span></td>
        </tr>
        </tbody>
    </table>

</body>
</html>