<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
    <h2><i class="fas fa-user-md"></i> List of Veterinarians</h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <th><i class="fas fa-user-md"></i> Name</th>
            <th><i class="fas fa-user-tag"></i> Specialties</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.firstName + ' ' + vet.lastName}">John Doe</td>
            <td><span th:each="specialty : ${vet.specialties}" th:text="${specialty.description + ' '}"></span>
                <span th:if="${vet?.specialties?.size() == 0}">None</span></td>
        </tr>
        </tbody>
    </table>

</body>
</html>